In [157]:
import os
import pandas as pd

In [158]:
dataframe_customers_dirty = pd.read_csv(
    os.path.join(
        "..",
        "data",
        "raw",
        "customers_dirty.csv"
    ),
    sep=","
)

dataframe_customers_dirty_2 = pd.read_csv(
    os.path.join(
        "..",
        "data",
        "raw",
        "customers_dirty2.csv"
    ),
    sep=","
)

dataframe_customers_dirty_3 = pd.read_csv(
    os.path.join(
        "..",
        "data",
        "raw",
        "customers_dirty3.csv"
    ),
    sep=","
)

In [159]:
dataframe_customers_dirty.head(50)

,customer_id,full_name,email,signup_date,country,age,last_purchase_amount,loyalty_tier
0,3001,Jean Morel,jean.morel@example.com,2025-01-10,FR,42.0,120.5,GOLD
1,3002,Alice Petit,alice.petitexample.com,2025-01-12,FR,35.0,80.0,SILVER
2,3003,Carlos Diaz,carlos.diaz@example.com,not_a_date,ES,29.0,60.0,GOLD
3,3004,Lucie Bernard,lucie.bernard@example.com,2025-02-01,fr,17.0,25.0,BRONZE
4,3005,Mohamed Ali,mohamed.ali@example.com,2025-02-10,DE,31.0,-10.0,SILVER
5,3006,Emma Dupont,emma.dupont@example.com,2025-02-15,UK,NaN,45.0,GOLD
6,3007,Tom Leroy,tom.leroy@example.com,2025-03-01,US,150.0,90.0,GOLD
7,3008,Sarah Klein,sarah.klein@example.com,2025-03-05,DE,28.0,0.0,SILVER
8,3009,Anna Rossi,anna.rossi@example.com,2025-03-10,IT,34.0,70.0,GOLD
9,3010,Jean Morel,jean.morel@example.com,2025-01-10,FR,42.0,120.5,GOLD

In [160]:
dataframe_customers_dirty.dtypes

customer_id               int64
full_name                   str
email                       str
signup_date                 str
country                     str
age                     float64
last_purchase_amount    float64
loyalty_tier                str
dtype: object

In [161]:
# Columns types correction

dataframe_customers_dirty["age"] = dataframe_customers_dirty["age"].fillna(0).astype(int)

dataframe_customers_dirty["signup_date"] = dataframe_customers_dirty["signup_date"].replace("not_a_date", pd.NaT)
dataframe_customers_dirty["signup_date"] = dataframe_customers_dirty["signup_date"].astype("datetime64[ns]")

In [162]:
dataframe_customers_dirty.dtypes

customer_id                      int64
full_name                          str
email                              str
signup_date             datetime64[ns]
country                            str
age                              int64
last_purchase_amount           float64
loyalty_tier                       str
dtype: object

In [163]:
# Add missing @ in email addresses

dataframe_customers_dirty["email"] = dataframe_customers_dirty["email"].apply(
    lambda check: check if "@" in check else check.replace("example.com", "@example.com")
)

In [164]:
# Fix country names to uppercase

dataframe_customers_dirty["country"] = dataframe_customers_dirty["country"].str.upper()

In [165]:
# Check age values between 16 and 99

dataframe_customers_dirty["age"] = dataframe_customers_dirty["age"].apply(
    lambda age: age if 16 <= age <= 99 else 16
)

In [166]:
# Set negative last purchase amounts to zero

dataframe_customers_dirty["last_purchase_amount"] = dataframe_customers_dirty["last_purchase_amount"].apply(
    lambda price: price if price >= 0.0 else 0.0
)

In [167]:
# Fill missing signup dates with a median date

median_date = dataframe_customers_dirty["signup_date"].median()
dataframe_customers_dirty["signup_date"] = dataframe_customers_dirty["signup_date"].fillna(median_date)

In [168]:
dataframe_customers_dirty

,customer_id,full_name,email,signup_date,country,age,last_purchase_amount,loyalty_tier
0,3001,Jean Morel,jean.morel@example.com,2025-01-10,FR,42,120.5,GOLD
1,3002,Alice Petit,alice.petit@example.com,2025-01-12,FR,35,80.0,SILVER
2,3003,Carlos Diaz,carlos.diaz@example.com,2025-02-10,ES,29,60.0,GOLD
3,3004,Lucie Bernard,lucie.bernard@example.com,2025-02-01,FR,17,25.0,BRONZE
4,3005,Mohamed Ali,mohamed.ali@example.com,2025-02-10,DE,31,0.0,SILVER
5,3006,Emma Dupont,emma.dupont@example.com,2025-02-15,UK,16,45.0,GOLD
6,3007,Tom Leroy,tom.leroy@example.com,2025-03-01,US,16,90.0,GOLD
7,3008,Sarah Klein,sarah.klein@example.com,2025-03-05,DE,28,0.0,SILVER
8,3009,Anna Rossi,anna.rossi@example.com,2025-03-10,IT,34,70.0,GOLD
9,3010,Jean Morel,jean.morel@example.com,2025-01-10,FR,42,120.5,GOLD

In [169]:
dataframe_customers_dirty.to_csv(
    os.path.join(
        "..",
        "data",
        "processed",
        "customers_cleaned.csv"
    ),
    index=False
)

In [170]:
dataframe_customers_dirty_2.head(50)

,customer_id,full_name,email,signup_date,country,age,last_purchase_amount,loyalty_tier
0,2001,Paul Martin,paul.martin@example.com,2025-03-10,FR,45.0,250.0,GOLD
1,2002,Laura Bernard,laura.bernardexample.com,2025-03-12,FR,32.0,80.0,SILVER
2,2003,Marco Rossi,marco.rossi@example.com,2025-02-29,IT,38.0,120.0,GOLD
3,2004,Sophie Durand,sophie.durand@example.com,2025-01-15,France,16.0,40.0,BRONZE
4,2005,Lucas Petit,lucas.petit@example.com,2024-12-01,fr,27.0,-5.0,SILVER
5,2006,Anna Kowalski,anna.k@example.com,2025-04-01,PL,29.0,60.0,GOLD
6,2007,Emma Leroy,emma.leroy@example.com,2025-03-05,FR,NaN,30.0,SILVER
7,2008,Noah Dupont,noah.dupont@example.com,invalid_date,FR,34.0,75.0,GOLD
8,2009,Clara Meunier,clara.meunier@example.com,2025-03-01,US,31.0,0.0,PLATINUM
9,2010,Paul Martin,paul.martin@example.com,2025-03-10,FR,45.0,250.0,GOLD

In [171]:
dataframe_customers_dirty_3.head(50)

,customer_id,full_name,email,signup_date,country,age,last_purchase_amount,loyalty_tier
0,1001,Marie Dupont,marie.dupont@example.com,2025-11-03,FR,29,120.50,GOLD
1,1002,John Smith,john.smith@example,2025-10-15,France,34,89.90,SILVER
2,1003,,alice@example.com,2025-13-01,FR,27,45.00,BRONZE
3,1004,Pedro García,pedro.garcia@example.com,not_a_date,ES,NaN,0.00,SILVER
4,1005,Li Wei,li.wei@example.com,2025-09-12,CN,41,-12.00,GOLD
5,1006,Chloé Martin,chloe.martin@example.com,2025-09-12,fr,17,15.00,PLATINUM
6,1007,Ahmed Ben Ali,ahmed.benali@example.com,2024-02-29,TN,25,300.00,GOLD
7,1008,Sarah Connor,sarah.connor@example.com,2025-08-01,UK,200,55.00,SILVER
8,1009,Jean Dupont,jean.dupont@example.com,2025-07-20,FR,31,NaN,BRONZE
9,1010,Anna Müller,anna.mueller@example.com,2025-07-18,DE,28,19.99,SILVER
10,1011,Marie Dupont,marie.dupont@example.com,2025-11-03,FR,29,120.50,GOLD
11,1012,Tom,test@,2025-06-30,US,abc,10.00,BRONZE
12,1013,Inès Dubois,ines.dubois@example.com,2025-06-15,FRA,33,9999999.99,GOLD
13,1014,Carlos Lopez,carlos.lopez@example.com,2025-05-10,ES,40,12.50,SILVER
14,1015,Nina Rossi,nina.rossi@example.com,2025-05-10,IT,39,12.00,UNKNOWN
15,1016,Zoé,zoe@example.com,2025-04-01,FR,NaN,5.00,BRONZE
16,1017,NaN,no_name@example.com,2025-03-22,FR,22,25.00,SILVER
17,1018,Jane Doe,jane.doe@example.com,2025-02-30,USA,30,70.00,GOLD
18,1019,Émile Moreau,emile.moreau@example.com,2025-01-15,FR,30,0.00,BRONZE
19,1020,Lucie Petit,lucie.petit@example.com,2025-01-14,FR,30,0.00,BRONZE